@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

/*  Hide scrollbar visually */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
